@media screen and (max-width: 768px) {
    .table-rwd thead {
        display: none;
    }

    .table-rwd tbody tr {
        display: block;
        border: 1px solid var(--Testcolor05);
        margin-top: 15px;
    }

    .table-rwd tbody tr td {
        display: block;
        overflow: hidden;
    }

    /* 偽元素 */
    .table-rwd tbody tr td::before {
        content: attr(data-th) ": ";
        font-size: 20px;
        font-weight: 700;
        display: block;
        float: left;
        width: 30%;
        text-align: right;
        padding-right: 1.5em;
    }

    .table-rwd tbody tr td span {
        display: block;
        float: left;
        width: 70%;
    }
}